@import url("https://fonts.googleapis.com/css2?family=Long+Cang&family=Ma+Shan+Zheng&family=ZCOOL+KuaiLe&family=ZCOOL+XiaoWei&family=Zhi+Mang+Xing&display=swap");

/* @font-face {
  font-family: "EN-autograph";
  src: url("./font-family/风楷.ttf");
}

@font-face {
  font-family: "Pen";
  src: url("./font-family//钢笔体.ttf");
}

@font-face {
  font-family: "Handwritiong";
  src: url("./font-family//手写体.ttf");
}

@font-face {
  font-family: "Ink";
  src: url("./font-family//汉仪仕杰墨榜.ttf");
}

@font-face {
  font-family: "Writing-brush";
  src: url("./font-family//毛笔体.ttf");
} */
